@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:ital,wght@0,200;0,400;1,600&family=Roboto:wght@100;400;700&family=Shadows+Into+Light&display=swap');

@import '@/assets/styles/colors.scss';
@import '@/assets/styles/mixins.scss';
@import '@/assets/styles/fonts.scss';

.home-wrapper {
  &__title {
      font-size: $mainTitleSize;
      font-weight: 500;
      font-family: 'Roboto';
      line-height: 60px;
  }

  &__subtitle {
    font-weight: 400;
    font-family: 'Roboto';
    font-size: $mainTitleMediumSize;
    line-height: $mainTitleMediumSize;
    color: $baseTextMedium;
  }  
    
}